*{
margin: 0px;
padding: 0px;
	
}
body{
	height: 100%;
}
 a{
  color: #76797f;
  /*background-color: transparent;*/
  text-decoration: none;


}
#icon {
	/*color: black;*/
	/*margin-top:5px;*/
text-align: center;
letter-spacing: 5px;
}
#I:hover {
text-align: center;
letter-spacing: 5px;
color: #FFC300;
}
#nav-div{
	height: 100%;
	position: fixed;
	float: left;
	width: 20%;
	background-color:#2C2C2C;


}
#logo{
	text-align: center;
	padding: 20%;
	color: white;
}
#nav-bar{
   text-align: center;
   text-decoration: none;
   letter-spacing: 2px;
   
}
#nav-quote{
	/*padding: 23%;*/
	margin: 10px 5% 2% 5%;
	text-align: justify;

	color:#54585e;
}
.nav-element{
	font-size: 12px;
text-decoration: none;

	padding: 10px;
	color: #76797f;
}
.nav-element:hover{

	/*padding: 5px;*/
	/*color: #f9f9f9;*/
	text-decoration: underline;
	  text-decoration-color: #FFC300;



}


#bodyleft{
	float: right;
	width: 80%;
	background-color:white;

}
#adv h2{
margin-top: 2%;
	float: right;
	width: 75%;
    font-family: "Quicksand", Arial, sans-serif;
    letter-spacing: 5px;
	color: black;
	



}



#welcome{
	width: 80%;
	float: right;


}

#welcome img{
	margin : 10% 2% 2% 5% ; 
	width: 40%;
	float: left;
	height: 600px;

}
#welcome p{
	margin : 10% 2% 2% 5% ; 
	color: #999999;
    letter-spacing: 5px;
    font-size: 10px;

}
#first{
	padding-bottom:  1px;
	text-decoration: underline;
	color: #FFC300
}
#welcome p{
	    margin-bottom: 1.5em;

color: #999999;
    letter-spacing: 2px;
    font-size: 16px;

}

#adv1{
	list-style-type: none;
	/*margin-top: 2%;*/
	float: right;
	width: 75%;

}

#adv1  li img{
	float: left;
	margin: 2%;
	height: 200px;
	width: 25%;
}



#des{
	list-style-type: none;
	margin-top: 2%;
	float: right;
	width: 75%;
}

#des li small{
	float: left;
	margin:2%;
	height: auto;
	width: 25%;
    letter-spacing: 2px;

}
	
#adv p{

margin-top: 2%;
	float: right;
	width: 75%;

color: #999999;
    letter-spacing: 5px;
    font-size: 10px;


}


#bodyleft img{

/*position: relative;*/
width: 100%;
height: 657px;
padding-left:  0px;
margin: 0px;
}
footer div{
	margin: 10px 2px 2px 2px;
}

 footer div h2{
 	margin-left: 26%;
	color: #000;
    font-family: "Quicksand", Arial, sans-serif;
    font-size: 30px;
}

.text{
	margin-left: 26%;
	font-size: 18px;
    line-height: 1.5;
}
.btn {
	margin-left: 26%;
	text-align: center;
	padding: 10px;
	width: 12%;
	border-radius: 30px;
	background: #FFC300;
    border: 2px solid #FFC300;
}
.btn a{
	text-decoration: none;

    color:white;

}


.adv-element1 :hover{
  transform: scale(1.1); 



}


#adv ul li{

	width: 25%;
	/*height: 300px;*/
	float: left;
	margin-left: 5%;
	margin-top: 2%;
	/*margin-bottom: 5%;*/

}



.btn2{
	/*visibility: hidden;*/
	position: relative;
	top: -40px;
	border-width: 0px;
	border:1px solid black;
	border-radius: 3px;  
	width: 20%;
	height: 30px;	
}
.btn2:hover{
	background-color: grey;

}


#adv ul li[class="adv-element"] img{
	width: 100%;
	height: 250px;
}

.adv-element img:hover{
  visibility: visible;
}


#adv ul li[class="adv-element1"] img{
	margin-bottom: 0%;
	height: 200px;
	width: 100%;
	height: 200px;
}


.feature-area
{   
	margin-top: 10%;

	width: 80%;
	float: right;
	height: 100px;

    background-image:url("images/cover_bg_1.jpg"); 
    background-position: center;
    background-attachment: fixed;
    
}


.feature-area
{
    padding: 100px 0;
}

#zxc{
	margin-left: 10%;
	border-radius: 50%;
	height: 100px;
	width: 10%;
	/*color: black;*/
	background-color: white;
}

#z{
font-size: 60px;
color:  #FFC300;
}


table tr{
	margin:20%;
} 